<!-- Place this tag in your head or just before your close body tag. -->

 <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


<div id="DetailsPopUp"class="row">
    <div class="col-xs-11">
        <!-- Picture + buttons-->
        <div class="col-xs-offset-1 col-xs-5">
            <div class="col-xs-12">
                <h2 id="detailsHead"> 
                    Event Name 
                    <br />
                    <small id="detailsTimePlace">Event Date + Time | Location </small>
                </h2>
            </div>
            <div class="col-xs-12">
                <img class="img-responsive" id="detailsImage" src="" />
            </div>
        </div>
        <!-- Details -->
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2> Details </h2>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>When:</th>
                            <td id="detailsTime"></td>
                        </tr>
                        <tr>
                            <th>Contact:</th>
                            <td id="detailsContact"></td>
                        </tr>
                        <tr>
                            <th>Where:</th>
                            <td id="detailsAddr"></td>
                        </tr>
                    </table>
                </div>
            </div>
             <div class="cols-xs-5"><a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false" data-text="Hey check out this cool event">Tweet</a></div>  
 
        </div>
       
    </div>
    <!-- Close Button -->
    <div class="col-xs-1"> <button class="close-btn btn btn-success">X</button></div>
    
    <!-- Place this tag where you want the +1 button to render. -->
   
  
</div>
