
@model EDSNCalendar_ProjectBlue.Event.Event
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Confirm Publish Action</h2>
<hr />
<p> Are you sure you want to publish the event titled: @Model.Title? </p>
<div class="btn-group">
    @Html.ActionLink("Publish Event", "PublishEvent", "Admin", new
{
    id = Model.EventId
}, new
{
    @class = "btn btn-default",
    @role = "button"
})
    @Html.ActionLink("Cancel", "EventDetails", "Admin", new
{
    id = Model.EventId
}, new
{
    @class = "btn btn-default",
    @role = "button"
})
</div>


